.big-container {
  width: 100%;
  height: 75vw;
  display: flex;
  margin-top:-1500px;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
}
.stat-image-list {
  margin-top: 3vw;
  width: 70%;
  height: 40%;
  display: flex;
}
.do-you-know {
  margin-top: 4.5vw;
}
.stat-image {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.big-picture {
  width: 100%;
  height: 800px;
  background-image: url("../assets/bigpic.png");
  background-size: 100% 100%;
  position: relative;
}
.stat-text {
  margin-top: 1.5vw;
  font-size: 16px;
}
.big-picture-text {
  width:60%;
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 5vw;
  line-height: 60px;
  left: 5vw;
}
