.big-container{
    width:100%;
    height:75vw;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.stat-image-list{
    width:70%;
    border:2px solid black;
    height:40%; 
    display: flex;
}
.do-you-know{
    margin-top: 4.5vw;
}
.stat-image{
    display: flex;
    width:100%;
    border: 2px solid black;
    flex-direction: column;
}
.big-picture{
    width:100%;
    height: 800px;
    background-image: url("../assets/bigpic.png");
    background-size: 100% 100%;
}
.stat-text{
    
}
.big-picture-text{
    color:white;
    font-size: 60px;;
}